<template name="weddingParty">
	<section class="green weddingparty {{partyType}}" id="{{id}}"> 
		<div class="photo" style="background-image:url('images/{{id}}_3x4.jpg');"></div>
		<div class="description tk-utopia-std">
			<h1 class="sans-serif">{{firstName}} {{lastName}}</h1>
			<h2 class="{{titleClass}}">{{title}}</h2>
			<div class="location">
				<span class="header">Lives in </span>
				<span>{{location}}</span>
			</div>
			<div class="occupation">
				<span class="header">{{hisOrHer}} thing </span>
				<span>{{{occupation}}}</span>
			</div>
			<div class="fromLauren">
				<span class="header">{{#if fromLauren}}Lauren{{else}}Chris{{/if}} on {{firstName}}</span>
				<p>{{#if fromLauren}}{{{fromLauren}}}{{else}}{{{fromChris}}}{{/if}}</p>
			</div>
		</div>
		<div style="clear:both;"></div>
	</section>
</template>
