section.green.weddingparty.bridesmaid.carriejo
	h1.sans-serif="Carrie Jo Pinckard"
	h2.cursive="Maid of Honor"
	div.photo
	div.description.tk-utopia-std
		div.location
			span.header Lives in: 
			span Knoxville, TN
		div.occupation
			span.header Her thing:
			span Capturing special moments in 
				span.purple images
		div.fromLauren
			span.header Lauren on Carrie:
			p
				| I met Carrie Jo at Berry. But I'd say our true friendship didn't begin until she graduated. Soon after, we were livin' 
				| large on a boat on the Tennessee River. She is my person, we just get each other. In the past four years, our friendship 
				| has grown to be one of the deepest I've ever known. Carrie Jo is my beautiful/talented/creative/driven Maid of Honor! Think 
				| 	this will keep her from being my photographer? Think again. I can't help it, I just believe in her work and I have to rep
