<template name="weddingparty">
	<section class="green weddingparty bridesmaid carriejo">
		<h1 class="sans-serif">{{name}}</h1>
		<h2 class="cursive">{{title}}</h2>
		<div class="photo">
			<div class="description tk-utopia-std">
				<div class="location">
					<span class="header">Lives in: </span>
					<span>{{location}}</span>
				</div>
				<div class="occupation">
					<span class="header">Her thing: </span>
					<span>{{{occupation}}}</span>
				</div>
				<div class="fromLauren">
					<span class="header">Lauren on Carrie:</span>
					<p>{{fromLauren}}</p>
				</div>
			</div>
		</div>
	</section>
</template>
