@font-face {
  font-family: 'rambill';
  src: url("http://commondatastorage.googleapis.com/rambillwedding/fonts/rambill.eot");
  src: url("http://commondatastorage.googleapis.com/rambillwedding/fonts/rambill.eot?#iefix") format('embedded-opentype'), url("http://commondatastorage.googleapis.com/rambillwedding/fonts/rambill.woff") format('woff'), url("http://commondatastorage.googleapis.com/rambillwedding/fonts/rambill.ttf") format('truetype'), url("http://commondatastorage.googleapis.com/rambillwedding/fonts/rambill.svg#rambill") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'rambill';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.9;
  vertical-align: middle;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-heart-empty:before { content: '\6f'; } /* 'o' */
.icon-heart:before { content: '\68'; } /* 'h' */
.icon-music:before { content: '\6d'; } /* 'm' */
.icon-basket:before { content: '\73'; } /* 's' */
.icon-glass:before { content: '\64'; } /* 'd' */
.icon-gift:before { content: '\67'; } /* 'g' */
.icon-videocam:before { content: '\76'; } /* 'v' */
.icon-thumbs-up:before { content: '\74'; } /* 't' */
.icon-user:before { content: '\70'; } /* 'p' */
.icon-user-woman:before { content: '\66'; } /* 'f' */
.icon-box:before { content: '\62'; } /* 'b' */
.icon-camera:before { content: '\63'; } /* 'c' */